.checkbox-style:disabled {
    opacity: 1;

}
.checkbox-style {
    width: 3em;
    height: 3em;
}

.checkbox-style:checked {
    background-color: #000000;
    border-color: #ffffff;
}

.for-table-head {
    font-size: 30px;
}
.for-table {
    font-size: 20px;
}
