<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/for_rt.css"/>
    <link rel="stylesheet" href="/css/for_homework.css"/>
</head>
<header class="sticky-top" th:insert="blocks/header :: header"></header>

<main>
    <div class="container w-75 text-center">
        <div class="my-5" th:if="${#strings.toString(user.getRole()) != 'ROLE_USER'}">
            <span class="card-title m-auto fs-3 " th:text="${user.getName()} + ', у вас оплачено:&nbsp'"></span>
            <span class="card-title fw-bold m-auto fs-3" th:text="${teachear_balance ?: '0.00'} + ' ур.'"></span>
        </div>
        <div class="my-5" th:if="${#strings.toString(user.getRole()) == 'ROLE_USER'}">
            <span class="card-title m-auto fs-3 " th:text="${user.getName()} + ', Ваш баланс:&nbsp'"></span>
            <span class="card-title fw-bold m-auto fs-3" th:text="${expenseSum ?: '0.00'} + 'р.'"></span>
        </div>
        <div sec:authorize="hasAnyRole('ADMIN', 'TEACHER')"
             th:if="${(#strings.toString(user.getName()) != #httpServletRequest.remoteUser and #strings.toString(user.getRole()) != 'ROLE_ADMIN')
             or #strings.toString(user.getRole()) == 'ROLE_ADMIN'}">
            <!-- Кнопка-триггер модального окна -->
            <button type="button" class="btn btn-warning btn-lg w-25 my-3" data-bs-toggle="modal"
                    data-bs-target="#PaymentModal">+ | -
            </button>
            <!-- Модальное окно -->
            <div class="modal fade" id="PaymentModal" tabindex="-1" aria-labelledby="PaymentModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="PaymentModalLabel">Платеж</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>

                        <main class="w-75 m-auto text-center">
                            <form th:action="@{'/accounts/profile/' + ${user.id} + '/balance/new_expence'}"
                                  method="post">
                                <div class="modal-body">
                                    <input class="d-none" name="userId" th:value="${user.id}">
                                    <input type="number" name="expense" placeholder="Сумма"
                                           class="form-control" min="0"><br>
                                    <input type="text" name="comment" placeholder="comment"
                                           class="form-control"><br>
                                    <input type="date" id="todayDate" name="actionDate" placeholder="actionDate"
                                           class="form-control my-today-date"><br>
                                    <select class="form-control" id="action" name="action"><br>
                                        <option value="REPLENISHMENT">Пополнение</option>
                                        <option value="WRITE_OFF">Списание</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-warning">Сохранить</button>
                                </div>
                            </form>
                        </main>
                    </div>
                </div>
            </div>
        </div>


        <div class="container mt-3">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:if="${#strings.toString(user.getRole()) != 'ROLE_USER'}">
                        Кол-во уроков</th>
                    <th scope="col" th:if="${#strings.toString(user.getRole()) == 'ROLE_USER'}">Сумма</th>
                    <th scope="col">Действие</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Дата</th>
                    <th sec:authorize="hasAnyRole('ADMIN', 'TEACHER')"
                        th:if="${(#strings.toString(user.getName()) != #httpServletRequest.remoteUser and #strings.toString(user.getRole()) != 'ROLE_ADMIN')
             or #strings.toString(user.getRole()) == 'ROLE_ADMIN'}"></th>
                </tr>
                </thead>
                <tbody th:each="el, state : ${balance_history}">
                <tr class="table-active align-middle">
                    <th th:utext="${state.index}+1"></th>
                    <td th:text="${el.getExpense()}"></td>
                    <td th:text="${el.getAction().getActionValue()}"></td>
                    <td th:text="${el.getComment()}"></td>
                    <td th:text="${el.getActionDate()}"></td>
                    <td style="width: 0;" sec:authorize="hasAnyRole('ADMIN', 'TEACHER')"
                        th:if="${(#strings.toString(user.getName()) != #httpServletRequest.remoteUser and #strings.toString(user.getRole()) != 'ROLE_ADMIN')
             or #strings.toString(user.getRole()) == 'ROLE_ADMIN'}">
                        <form th:action="@{'/accounts/profile/' + ${user.id} + '/balance/' + ${el.id} + '/delete'}"
                              method="post">
                            <button class="btn btn-outline-danger d-inline-block" style="border: none;" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                     class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer th:insert="blocks/footer :: footer"></footer>

<div th:insert="blocks/script-integration"></div>
<script src="/js/for_payment_modal.js"></script>
</body>
</html>



